<div class="row mb-4 project">
  <div class="col-md-5 postStyle inner-container">
    <h2>
      {{post.name}}
    </h2>
    <div class="desc">
      <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
      <p>{{post.description}}</p>
    </div>
  </div>
  
  <div class="col-md-7 ">
    <h6>Comments</h6>
    {{#each post.comments as | comment | }}
    <div class="comment-container">
      </br>
      <div class="comment">
        {{comment.description}}
        </br>
      </div>
      <small>-{{comment.user.name}}</small>

    </div>

    {{/each}}

    <form class="form new-project-form save">

      <div class="form-group">
        <label for="project-desc"></label>
        <textarea class="form-input" id="project-desc" data-post-id="{{post.id}}" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>
{{!-- add event listener to add comment (button) (create new frontend js for comment--}}
{{!-- set user and post id in the routes --}}